@use '../custom' as *;

body {
    font-family: 'Libre Baskerville', serif;
}

.hero-image {
    background-image: url('/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    @include media-breakpoint-up(xs) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

.active {
    font-weight: bold;
}

.enlace {
    position: relative;
    transition: all 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 7px;
        left: 50%;
        background-color: currentColor;
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }
}

.enlace:hover {
    &::after {
        width: 80%;
    }
}

li {
    list-style-type: none !important;
}

// WHATSAPP BUTTON

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: rgba(37, 211, 102) !important;
}

.whatsapp-button:hover {
    transition: all 0.3s ease; /* Añade una transición suave */
    background-color: white !important; /* Cambia el color de fondo al pasar el ratón */
}

.whatsapp-button svg {
    fill: white; 
}

.whatsapp-button:hover svg {
    transition: all 0.3s ease; /* Añade una transición suave */
    fill: rgba(37, 211, 102); /* Cambia el color de fondo al pasar el ratón */
}