// Reescribir las variables de Bootstrap
$verdeOscuro: #0e2205;
$verdeClaro: #4ca226;

// Asignar paleta de colores a Bootstrap
$primary: $verdeOscuro;
$secondary: $verdeClaro;

// Tipografía
$display-font-weight: 700;

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';